{% extends 'back/base_back.html.twig' %}

{% block title %}New Forum{% endblock %}

{% block page_title %}New Forum{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Forum</h1>

    {{ include('back/forum/_form.html.twig') }}

    <div class="mt-3">
        <a href="{{ path('admin_forum_index') }}" class="btn btn-outline-secondary">back to list</a>
    </div>
</div>
{% endblock %}
