{% extends 'base.html.twig' %}

{% block title %}About Us - Art Connect{% endblock %}

{% block body %}
<section class="home-panel mb-4">
    <h1 class="h3 mb-2">About Us</h1>
    <p class="mb-0">Le contenu detaille "A propos de nous" est maintenant affiche sur la page d'accueil.</p>
</section>
{% endblock %}
