<form method="post" action="{{ path('app_type_don_delete', {'id': type_don.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce type ?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_don.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
