{% extends 'back/base_back.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}

    <div class="mt-3">
        <a href="{{ path('app_user_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
