# This file is the entry point to configure your own services.
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration

parameters:
    mailer_from_default: 'no-reply@artconnect.local'
    mailer_from: '%env(default:mailer_from_default:MAILER_FROM)%'
    email_verification_ttl_hours: '%env(int:EMAIL_VERIFICATION_TTL_HOURS)%'
    password_reset_ttl_minutes: '%env(int:PASSWORD_RESET_TTL_MINUTES)%'

services:
    # Configuration par défaut
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            int $emailVerificationTtlHours: '%email_verification_ttl_hours%'
            int $passwordResetTtlMinutes: '%password_reset_ttl_minutes%'

    # Enregistre toutes les classes de src/ comme services
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Configuration explicite du service d'envoi d'email
    App\Service\ResetPasswordMailer:
        arguments:
            $fromEmail: '%mailer_from%'

    # Configuration du service d'email personnalisé
    App\Service\EmailService:
        arguments:
            $adminEmail: '%mailer_from%'

    App\Service\StripeService:
        arguments:
            $stripeSecretKey: '%env(default::STRIPE_SECRET_KEY)%'

    App\Controller\Event\StripeWebhookController:
        arguments:
            $stripeWebhookSecret: '%env(default::STRIPE_WEBHOOK_SECRET)%'
