{% extends 'base.html.twig' %}

{% block title %}New ForumReponse{% endblock %}

{% block body %}
    <h1>Create new ForumReponse</h1>

    {{ include('forum_reponse/_form.html.twig') }}

    <a href="{{ path('app_forum_reponse_index') }}">back to list</a>
{% endblock %}
